.index {
  width: 100%;
  height: 100%;
}

.index .head {
  width: 100%;
  height: 19.3rem;
  background-color: yellowgreen;
  position: relative;
}

.index .head .swiper {
  width: 100%;
  height: 100%;
}

.index .head .swiper .item {
  width: 100%;
  height: 100%;
}

.index .head .swiper .item .img {
  display: block;
  width: 100%;
  height: 100%;
}

.index .head .img_num {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  color: #fff;
  padding: 0rem 0.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #7E7B70;
}

.index .names {
  background-color: yellowgreen;
  width: 100%;
  height: 3.75rem;
  position: relative;
}

.index .names .top {
  width: 90%;
  height: 1.875rem;
  margin: 0 auto;
  display: flex;
  line-height: 1.875rem;
}

.index .names .top .name {
  font-size: 1.5rem;
  font-weight: 1000;
}

.index .names .top .status {
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  background-color: #FF6600;
  color: #fff;
  margin-top: 0.18rem;
  margin-left: 0.8rem;
}

.index .names .down {
  width: 90%;
  height: 1.875rem;
  margin: 0 auto;
  display: flex;
  line-height: 1.875rem;
}

.index .names .down .item {
  height: 1rem;
  padding: 0 0.2rem;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1rem;
  color: gray;
  border: 1px solid gray;
  margin-top: 0.45rem;
  margin-right: 0.2rem;
}

.index .names .xq {
  font-size: 0.8rem;
  position: absolute;
  color: gray;
  top: 1.475rem;
  right: 2rem;
}
