.index {
    width: 100%;
    height: 100%;
    .head {
        width: 100%;
        height: 19.3rem;
        // background-color: yellowgreen;
        position: relative;
        .swiper {
            width: 100%;
            height: 100%;
            .item {
                width: 100%;
                height: 100%;
                .img {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .img_num {
            position: absolute;
            right: 0.5rem;
            bottom: 0.5rem;
            color: #fff;
            // width: 4.2rem;
            padding: 0rem 0.5rem;
            height: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
            border-radius: 1.5rem;
            background-color: rgba(126, 123, 112, 0.5);
        }
    }
    .names {
        // background-color: yellowgreen;
        width: 100%;
        height: 3.75rem;
        position: relative;
        margin: 1rem 0;
        .top {
            width: 90%;
            height: 1.875rem;
            margin: 0 auto;
            // background-color: yellow;
            display: flex;
            line-height: 1.875rem;
            .name {
                font-size: 1.5rem;
                font-weight: 1000;
            }
            .status {
                width: 2.5rem;
                height: 1.5rem;
                text-align: center;
                line-height: 1.5rem;
                background-color: #FF6600;
                color: #fff;
                margin-top: 0.18rem;
                margin-left: 0.8rem;
            }
        }
        .down {
            width: 90%;
            height: 1.875rem;
            margin: 0 auto;
            // background-color: yellow;
            display: flex;
            line-height: 1.875rem;
            .item {
                height: 1rem;
                padding: 0 0.2rem;
                font-size: 0.8rem;
                text-align: center;
                line-height: 1rem;
                color: gray;
                border: 1px solid gray;
                margin-top: 0.45rem;
                margin-right: 0.2rem;
            }
        }
        .xq {
            font-size: 0.8rem;
            position: absolute;
            color: gray;
            top: 1.475rem;
            right: 2rem;
        }
    }
    .message {
        width: 95%;
        height: 4.25rem;
        // background-color: yellow;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        .jun {
            width: 33%;
            .num {
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: 0.5rem;
                .num_n {
                    font-size: 1.2rem;
                    font-weight: 1000;
                    color: #FF7196;
                }
                .yuan {
                    font-size: 0.8rem;
                    height: 1.2rem;
                    line-height: 1.7rem;
                    margin-left: 0.2rem;
                    color: #FF7196;
                }
            }
            .text {
                color: #9999A6;
                margin-top: 0.2rem;
                width: 100%;
                text-align: center;
            }
        }
        .zong {
            width: 33%;
            position: relative;
            // border: 1px solid #F1F1F1;
            .num {
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: 0.5rem;
                .num_n {
                    font-size: 1.2rem;
                    font-weight: 1000;
                    color: #FF7196;
                }
                .yuan {
                    font-size: 0.8rem;
                    height: 1.2rem;
                    line-height: 1.7rem;
                    margin-left: 0.2rem;
                    color: #FF7196;
                }
            }
            .text {
                color: #9999A6;
                margin-top: 0.2rem;
                width: 100%;
                text-align: center;
            }
        }
        // .zong::after {
        //     content: "";
        //     box-sizing: border-box;
        //     position: absolute;
        //     left: 0;
        //     top: 0.5rem;
        //     width: 200%;
        //     height: 150%;
        //     border-left: 1px solid gray;
        //     transform: scale(0.5);
        //     transform-origin: 0 0;
        // }
        .mj {
            width: 33%;
            position: relative;
            .num {
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: 0.5rem;
                .num_n {
                    font-size: 1.2rem;
                    font-weight: 1000;
                    color: #FF7196;
                }
                .yuan {
                    font-size: 0.8rem;
                    height: 1.2rem;
                    line-height: 1.7rem;
                    margin-left: 0.2rem;
                    color: #FF7196;
                }
            }
            .text {
                color: #9999A6;
                margin-top: 0.2rem;
                width: 100%;
                text-align: center;
            }
        }
        // .mj::after {
        //     content: "";
        //     box-sizing: border-box;
        //     position: absolute;
        //     left: 0;
        //     top: 0.5rem;
        //     width: 200%;
        //     height: 150%;
        //     border-left: 1px solid gray;
        //     transform: scale(0.5);
        //     transform-origin: 0 0;
        // }
    }
    .address {
        width: 95%;
        height: 2.8rem;
        // background-color: yellowgreen;
        margin: 0.5rem auto;
        display: flex;
        flex-direction: row;
        .map {
            display: block;
            width: 2rem;
            height: 2rem;
            margin-top: 0.4rem;
        }
        .position {
            display: inline-block;
            width: 18rem;
            line-height: 2.8rem;
            // background-color: yellow;
            text-overflow: ellipsis;
            overflow: hidden; // 超出文本的部分不显示
            white-space: nowrap; // 强制文本在一行显示
        }
        .text {
            white-space: nowrap; // 强制文本在一行显示
            line-height: 2.8rem;
            text-align: center;
            color: #9999A6;
            font-size: 24px;
        }
    }
    .call {
        width: 90%;
        height: 4.5rem;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-image: linear-gradient(to right, #FB6A64, #FB8E67);
        border-radius: 0.5rem;
        .left {
            width: 33%;
            line-height: 4.5rem;
            color: #fff;
            text-align: center;
        }
        .right {
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn {
                background-color: #fff;
                border-radius: 1.5rem;
                width: 5rem;
                height: 1.7rem;
                text-align: center;
                color: #FB8E67;
                line-height: 1.7rem;
                padding: 0 0.5rem;
                margin: 0.7rem 1.5rem;
            }
            .end_time {
                color: #fff;
                font-size: 24px;
            }
        }
    }
    .calll {
        width: 90%;
        height: 3.5rem;
        border-radius: 3.5rem;
        border: 1px solid #FB8E67;
        background: #fff;
        margin: 1rem auto;
        display: flex;
        justify-content: space-around;
        .left {
            width: 70%;
            // background-color: royalblue;
            padding-left: 1.2rem;
            .click {
                font-size: 1.2rem;
                font-weight: 1000;
                color: #FF776A;
                padding: 0.2rem;
            }
            .text {
                font-size: 0.8rem;
                color: #B39999;
                white-space: nowrap;
                // padding: 0.rem;
            }
        }
        .right {
            width: 30%;
            // background-color: yellowgreen;
            .img {
                margin: 0.5rem 2rem;
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }
    .choise {
        width: 95%;
        height: 2.5rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        .ca {
            width: 48%;
            height: 100%;
            background: #FFF7F7;
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            .img {
                width: 1.3rem;
                height: 1.3rem;
                padding-top: 0.6rem;
                padding-right: 0.2rem;
            }
            .texts {
                color: #FF656B;
                height: 100%;
                line-height: 2.5rem;
            }
        }
        .cb {
            width: 48%;
            height: 100%;
            background-color: #FFF7F7;
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            .img {
                width: 1.3rem;
                height: 1.3rem;
                padding-top: 0.6rem;
                padding-right: 0.2rem;
            }
            .texts {
                color: #FF656B;
                height: 100%;
                line-height: 2.5rem;
            }
        }
    }
    .buildmove {
        width: 95%;
        margin: 0 auto;
        margin-top: 1rem;
        // background: yellow;
        .top {
            width: 100%;
            height: 3rem;
            display: flex;
            justify-content: space-between;
            .text {
                height: 100%;
                line-height: 3rem;
                font-size: 1.5rem;
                font-weight: 1000;
            }
            .more {
                height: 100%;
                line-height: 3rem;
                font-size: 0.8rem;
                color: gray;
            }
        }
        .down {
            width: 100%;
            .new {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                // background-color: yellowgreen;
                .headr {
                    // background-color: violet;
                    width: 100%;
                    // height: 1rem;
                    display: flex;
                    justify-content: start;
                    .point {
                        width: 0.7rem;
                        height: 0.7rem;
                        background-color: #FA6C70;
                        border-radius: 50%;
                        margin-top: 0.6rem;
                        margin-left: 0.8rem;
                    }
                    .card {
                        width: 2rem;
                        height: 1rem;
                        text-align: center;
                        line-height: 1rem;
                        color: #fff;
                        padding: 0.2rem 0.5rem;
                        background-color: #FA6C70;
                        border-radius: 0.2rem;
                        margin-left: 1rem;
                    }
                    .time {
                        font-size: 0.8rem;
                        color: gray;
                        margin-top: 0.2rem;
                        margin-left: 0.5rem;
                    }
                }
                .body {
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 1rem 1rem 2rem 2rem;
                }
                // .body::after {
                //     content: "";
                //     box-sizing: border-box;
                //     position: absolute;
                //     left: 0.5rem;
                //     top: 0rem;
                //     width: 200%;
                //     height: 200%;
                //     border-left: 1px solid gray;
                //     transform: scale(0.5);
                //     transform-origin: 0 0;
                // }
            }
            .gf {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                // background-color: yellowgreen;
                .headr {
                    // background-color: violet;
                    width: 100%;
                    // height: 1rem;
                    display: flex;
                    justify-content: start;
                    .point {
                        width: 0.7rem;
                        height: 0.7rem;
                        background-color: #FE854C;
                        border-radius: 50%;
                        margin-top: 0.6rem;
                        margin-left: 0.8rem;
                    }
                    .card {
                        width: 2rem;
                        height: 1rem;
                        text-align: center;
                        line-height: 1rem;
                        color: #fff;
                        padding: 0.2rem 0.5rem;
                        background-color: #FE854C;
                        border-radius: 0.2rem;
                        margin-left: 1rem;
                    }
                    .time {
                        font-size: 0.8rem;
                        color: gray;
                        margin-top: 0.2rem;
                        margin-left: 0.5rem;
                    }
                }
                .body {
                    // background-color: teal;
                    padding: 1rem 1rem 2rem 2rem;
                    .gf_head {
                        // width: 85%;
                        height: 2.5rem;
                        // margin-left: 1rem;
                        // background-color: aqua;
                        display: flex;
                        .headimg {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                        .him_name {
                            display: inline-block;
                            line-height: 2.5rem;
                            margin: 0 0.5rem;
                            font-size: 0.8rem;
                        }
                        .counselor {
                            display: inline-block;
                            // width: 3rem;
                            padding: 0 0.2rem;
                            height: 1rem;
                            background-color: #28C4FA;
                            font-size: 0.8rem;
                            color: #fff;
                            text-align: center;
                            margin-top: 0.75rem;
                            border-radius: 0.2rem;
                            margin-right: 1rem;
                        }
                        .consult {
                            display: inline-block;
                            // width: 4rem;
                            padding: 0 0.5rem;
                            height: 1.2rem;
                            background-image: linear-gradient(to right, #FB656A, #FBA665);
                            font-size: 0.8rem;
                            color: #fff;
                            text-align: center;
                            margin-top: 0.65rem;
                            border-radius: 0.6rem;
                            margin-right: 1rem;
                        }
                    }
                    .gf_body {
                        // margin-left: 1rem;
                        font-size: 0.8rem;
                        margin-top: 1rem;
                        // padding-right: 1rem;
                        .gf_imgs {
                            // background-color: aqua;
                            width: 100%;
                            display: flex;
                            justify-content: start;
                            margin-top: 0.5rem;
                            .img_item {
                                width: 5.5rem;
                                height: 5.5rem;
                                margin-right: 0.2rem;
                            }
                        }
                    }
                }
                // .body::after {
                //     content: "";
                //     box-sizing: border-box;
                //     position: absolute;
                //     left: 1.1rem;
                //     top: 0rem;
                //     width: 200%;
                //     height: 200%;
                //     border-left: 1px solid gray;
                //     transform: scale(0.5);
                //     transform-origin: 0 0;
                // }
            }
            .open {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                // background-color: yellowgreen;
                .headr {
                    // background-color: violet;
                    width: 100%;
                    // height: 1rem;
                    display: flex;
                    justify-content: start;
                    .point {
                        width: 0.7rem;
                        height: 0.7rem;
                        background-color: #13CCAB;
                        border-radius: 50%;
                        margin-top: 0.6rem;
                        margin-left: 0.8rem;
                    }
                    .card {
                        width: 2rem;
                        height: 1rem;
                        text-align: center;
                        line-height: 1rem;
                        color: #fff;
                        padding: 0.2rem 0.5rem;
                        background-color: #13CCAB;
                        border-radius: 0.2rem;
                        margin-left: 1rem;
                    }
                    .time {
                        font-size: 0.8rem;
                        color: gray;
                        margin-top: 0.2rem;
                        margin-left: 0.5rem;
                    }
                }
                .body {
                    // background-color: teal;
                    padding: 1rem 1rem 2rem 2rem;
                    .open_head {
                        font-weight: bold;
                    }
                    .open_body {
                        font-size: 0.8rem;
                        padding-right: 1rem;
                        margin-top: 1rem;
                    }
                }
                // .body::after {
                //     content: "";
                //     box-sizing: border-box;
                //     position: absolute;
                //     left: 0.2rem;
                //     top: 0rem;
                //     width: 200%;
                //     height: 200%;
                //     border-left: 1px solid gray;
                //     transform: scale(0.5);
                //     transform-origin: 0 0;
                // }
            }
            .demo {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                // background-color: yellowgreen;
                .headr {
                    // background-color: violet;
                    width: 100%;
                    // height: 1rem;
                    display: flex;
                    justify-content: start;
                    .point {
                        width: 0.7rem;
                        height: 0.7rem;
                        background-color: #52C8F7;
                        border-radius: 50%;
                        margin-top: 0.6rem;
                        margin-left: 0.8rem;
                    }
                    .card {
                        width: 2rem;
                        height: 1rem;
                        text-align: center;
                        line-height: 1rem;
                        color: #fff;
                        padding: 0.2rem 0.5rem;
                        background-color: #52C8F7;
                        border-radius: 0.2rem;
                        margin-left: 1rem;
                    }
                    .time {
                        font-size: 0.8rem;
                        color: gray;
                        margin-top: 0.2rem;
                        margin-left: 0.5rem;
                    }
                }
                .body {
                    // background-color: teal;
                    padding: 1rem 1rem 2rem 2rem;
                    font-size: 0.8rem;
                }
                // .body::after {
                //     content: "";
                //     box-sizing: border-box;
                //     position: absolute;
                //     left: 0.2rem;
                //     top: 0rem;
                //     width: 200%;
                //     height: 200%;
                //     border-left: 1px solid gray;
                //     transform: scale(0.5);
                //     transform-origin: 0 0;
                // }
            }
            .pp {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                // background-color: yellowgreen;
                .headr {
                    // background-color: violet;
                    width: 100%;
                    // height: 1rem;
                    display: flex;
                    justify-content: start;
                    .point {
                        width: 0.7rem;
                        height: 0.7rem;
                        background-color: #13CCAB;
                        border-radius: 50%;
                        margin-top: 0.6rem;
                        margin-left: 0.8rem;
                    }
                    .card {
                        width: 2rem;
                        height: 1rem;
                        text-align: center;
                        line-height: 1rem;
                        color: #fff;
                        padding: 0.2rem 0.5rem;
                        background-color: #13CCAB;
                        border-radius: 0.2rem;
                        margin-left: 1rem;
                    }
                    .time {
                        font-size: 0.8rem;
                        color: gray;
                        margin-top: 0.2rem;
                        margin-left: 0.5rem;
                    }
                }
                .body {
                    // background-color: teal;
                    padding: 1rem 1rem 2rem 2rem;
                    .pp_title {
                        font-weight: bold;
                    }
                    .pp_text {
                        font-size: 0.8rem;
                        padding-right: 1rem;
                        margin-top: 1rem;
                    }
                }
                // .body::after {
                //     content: "";
                //     box-sizing: border-box;
                //     position: absolute;
                //     left: 0.2rem;
                //     top: 0rem;
                //     width: 200%;
                //     height: 200%;
                //     border-left: 1px solid gray;
                //     transform: scale(0.5);
                //     transform-origin: 0 0;
                // }
            }
            .sub {
                width: 95%;
                height: 2.5rem;
                background: #FFF7F7;
                margin: 0 auto;
                margin-bottom: 1rem;
                text-align: center;
                line-height: 2.5rem;
                .text {
                    display: inline-block;
                    font-size: 0.8rem;
                    color: #FF656B;
                }
            }
            .qun {
                width: 95%;
                height: 4.5rem;
                background: #FF656B;
                border-radius: 0.3rem;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                .qun_left {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .q_l_t {
                        height: 2.25rem;
                        line-height: 2.25rem;
                        font-size: 0.9rem;
                        color: #fff;
                        margin-left: 1rem;
                        // background-color: yellowgreen;
                    }
                    .q_l_d {
                        height: 2.25em;
                        line-height: 2.25rem;
                        margin-left: 1rem;
                        // background-color: yellow;
                        display: flex;
                        .q_headimg {
                            display: flex;
                            line-height: 2.25rem;
                            .q_item {
                                display: inline-block;
                                line-height: 2.25rem;
                                width: 1.25rem;
                                height: 1.25rem;
                                border-radius: 50%;
                                margin-top: 0.5rem;
                                margin-left: -0.5rem;
                            }
                        }
                        .q_text {
                            color: #fff;
                            font-size: 0.8rem;
                            margin-left: 0.5rem;
                        }
                    }
                }
                .qun_right {
                    height: 100%;
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    .q_r_btn {
                        // display: inline-block;
                        height: 1.2rem;
                        font-size: 0.8rem;
                        padding: 0.2rem 0.7rem;
                        margin: 1.65rem 1rem;
                        background: #fff;
                        color: #FB656A;
                        border-radius: 1.2rem;
                    }
                }
            }
            .houseType {
                width: 95%;
                margin-top: 1rem;
                margin: 0 auto;
                // overflow: scroll;
                .t_top {
                    width: 100%;
                    height: 2.75rem;
                    display: flex;
                    justify-content: space-between;
                    // background-color: yellowgreen;
                    line-height: 2.75rem;
                    margin: 0.5rem 0;
                    .t_left {
                        display: inline-block;
                        height: 100%;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .t_right {
                        display: inline-block;
                        height: 100%;
                        font-size: 0.8rem;
                        color: gray;
                    }
                }
                .t_down {
                    // width: 100rem;
                    height: 14.5rem;
                    overflow: scroll;
                    display: flex;
                    // flex-direction: row;
                    // flex-wrap: nowrap;
                    .t_s {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        .t_item {
                            width: 10rem;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            float: left;
                            margin-right: 0.5rem;
                            .i_img {
                                width: 8.8rem;
                                height: 6.25rem;
                                margin: 0 auto;
                                overflow: hidden;
                            }
                            .i_desc {
                                width: 100%;
                                height: 1.375rem;
                                line-height: 1.375rem;
                                font-weight: bold;
                                margin: 0.2rem 0;
                            }
                            .i_room {
                                width: 100%;
                                display: flex;
                                height: 1.5rem;
                                color: gray;
                                font-size: 0.8rem;
                                .shi {
                                    color: gray;
                                }
                                .ting {
                                    color: gray;
                                }
                                .wei {
                                    color: gray;
                                }
                            }
                            .i_price {
                                width: 100%;
                                height: 1.3rem;
                                display: flex;
                                line-height: 1.3rem;
                                .yue {
                                    font-size: 0.8rem;
                                    color: gray;
                                }
                                .p_num {
                                    color: #FF656B;
                                    font-weight: bold;
                                    margin-left: 0.2rem;
                                }
                                .mm {
                                    font-weight: bold;
                                    color: #FF656B;
                                }
                                .db {
                                    border: 1px solid #FF656B;
                                    color: #FF656B;
                                    font-size: 0.6rem;
                                    border-radius: 0.6rem;
                                    margin-left: 0.5rem;
                                    padding: 0 0;
                                }
                            }
                            .i_btn {
                                width: 100%;
                                height: 2.45rem;
                                text-align: center;
                                line-height: 2.45rem;
                                background: #FFF7F7;
                                color: #FF656B;
                                font-size: 0.8rem;
                                margin-top: 0.2rem;
                            }
                        }
                    }
                }
            }
            .report {
                width: 95%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                margin: 1rem 0;
                .r_item {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .r_top {
                        width: 100%;
                        .icon {
                            display: block;
                            width: 2.5rem;
                            height: 2.5rem;
                            margin: 0 auto;
                        }
                    }
                    .r_down {
                        width: 100%;
                        .r_title {
                            width: 100%;
                            text-align: center;
                            font-size: 0.8rem;
                            font-weight: bold;
                        }
                        .r_text {
                            width: 100%;
                            text-align: center;
                            font-size: 0.8rem;
                        }
                    }
                }
            }
            .freeget {
                width: 95%;
                height: 2.5rem;
                background: #FFF7F7;
                line-height: 2.5rem;
                color: #FF656B;
                text-align: center;
                font-size: 0.8rem;
            }
            .map {
                width: 95%;
                height: 14.75rem;
                .m_text {
                    margin: 0 auto;
                    width: 100%;
                    padding: 1rem 0;
                    display: flex;
                    justify-content: space-between;
                    .m_left {
                        display: inline-block;
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                    .m_right {
                        display: inline-block;
                        font-size: 0.8rem;
                        color: gray;
                    }
                }
                .maps {
                    margin: 0 auto;
                }
            }
            .zygw {
                width: 95%;
                .z_top {
                    width: 100%;
                    height: 2.75rem;
                    line-height: 2.75rem;
                    display: flex;
                    justify-content: space-between;
                    .z_t_left {
                        display: inline-block;
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                    .z_t_right {
                        display: inline-block;
                        font-size: 0.8rem;
                        color: gray;
                    }
                }
                .z_down {
                    width: 100%;
                    .z_d_item {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin: 1rem 0;
                        .zd_left {
                            display: flex;
                            .zd_himg {
                                display: inline-block;
                                width: 2.75rem;
                                height: 2.75rem;
                                overflow: hidden;
                                border-radius: 2.75rem;
                                .zd_himg_s {
                                    width: 2.75rem;
                                    height: 2.75rem;
                                }
                            }
                            .zd_text {
                                display: inline-block;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-left: 0.5rem;
                                .zd_text_top {
                                    display: inline-block;
                                }
                                .zd_text_down {
                                    display: inline-block;
                                    font-size: 0.8rem;
                                    color: gray;
                                }
                            }
                        }
                        .zd_right {
                            display: flex;
                            .msg {
                                display: inline-block;
                                width: 2rem;
                                height: 2rem;
                            }
                            .phone {
                                display: inline-block;
                                width: 2rem;
                                height: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
