.my_vip{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    
    background: #1e1f25;
// .my_vip_head{
//     height: 40PX;
//     background: #fff;
//     font-size: 25PX;
//     font-weight: 100;
//     padding-left: 10PX;
//     display: flex;
//     align-items: center;
// .myvip_con{
//     font-size: 12.5PX;
//     font-weight: 700;
//     margin-left: 100PX;
// }
// }
.myvip_msg_box{
    // width: 100%;
    height: 40%;
    position: relative;
    padding: 1.3rem;
    padding-bottom: 0;
.myvip_user_card{
    width: 80vw;
    padding: 12PX;
    height: 120.6PX;
    padding: 12PX;
    border-radius: 12PX;
    background-image: -webkit-linear-gradient(315deg,#e5ba72,#f4dbb3);
    background-image: linear-gradient(135deg,#e5ba72,#f4dbb3);
    box-shadow: 0 2PX 6PX 0 rgba(0,0,0,.15);
    z-index: 2;
.myvip_card_top{
    height: 50%;
    display: flex;
    align-items: center;
    position: relative;
.commenvip{
    width: 75PX;
    height: 20PX;
    margin-left: 10PX;
    font-size: 11PX;
    background-color: rgba(0,0,0,.35);
    color: #d8d8d8;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
.card_littlevip{
    width: 12PX;
    height: 12PX;
}
}
.commenvip:after {
    content: "";
    position: absolute;
    height: 0.5PX;
    left: 0;
    right: 0;
    bottom: -10px;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: rgba(0,0,0,.09);
}
}
.myvip_card_user{
    width: 50PX;
    height: 50PX;
    border-radius: 50%;
}
}
}
}
.myvip_bottom{
    font-size: 9PX;
    height: 90PX;
    color: #a06b14;
    display: flex;
    align-items:center;
    justify-content: space-between;
.card_open{
    background: #fff;
    width: 80PX;
    height: 24PX;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}
}
.card_rights{
    font-size: 1rem;
    font-weight: 700;
    color: #e5ba72;
    height: 40PX;
    display: flex;
    align-items: center;
    margin-top: 10PX;
.VIP{
    font-size: 0.5rem;
    color: #322e2d;
    display: flex;
    align-items: center;
}
}
.card_release{
    // width: 100%;
    // margin-bottom: 20PX; 
    padding-top: 18PX;
    padding-left: 18PX;
    padding-right: 18PX;
    height: calc(100% - 40PX - 222.5PX );
    background-color: #383535;
    display: flex;
.release_btn{
    font-size: 12PX;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 30PX;
    
    line-height: 30PX;
    // min-width: 40%;
    background: rgba(244,219,179,.4);
    border: 1px solid #e5ba72;
    border-radius: 4PX;
    border-radius: 4PX;
    color: #e5ba72;
}
}
.release_btn:nth-child(2){
    margin-left: 12PX;
}
.po{
    position: absolute;
    bottom: 160PX;
    font-size: 10PX;
    color: #ccc;
    left: 20PX;
}