.index {
  width: 100%;
  height: 100vh;
}

.index .main {
  height: 100vh;
  position: relative;
}

.index .main .dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.index .main .dialog.active {
  display: block;
}

.index .main .dialog .tan {
  width: 85%;
  height: 66%;
  position: fixed;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.index .main .dialog .tan .ewm {
  width: 20rem;
  height: 19rem;
}

.index .main .dialog .tan text:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 700;
  position: fixed;
  bottom: 13%;
  left: 31%;
  z-index: 9999;
  color: #333;
}

.index .main .dialog .tan text:nth-of-type(2) {
  font-size: 0.9rem;
  position: fixed;
  bottom: 5%;
  left: 29%;
  z-index: 9999;
  color: #666;
}

.index .main .dialog .close {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: fixed;
  text-align: center;
  bottom: 1%;
  left: 50%;
  z-index: 9999;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 6px solid #fff;
  color: white;
  line-height: 52px;
}

.index .header {
  text-align: center;
  position: relative;
}

.index .header .trash {
  position: absolute;
  top: 10px;
  left: 1.3rem;
  width: 1.1rem;
  height: 1.1rem;
  font-size: 2.3rem;
}

.index .header text:nth-of-type(1) {
  color: #666;
  font-size: 0.9rem;
  position: absolute;
  left: 2.5rem;
  top: 10px;
}

.index .header text:nth-of-type(2) {
  font-weight: 700;
  font-size: 1.1rem;
}

.index .save {
  background-color: rgba(255, 101, 107, 0.15);
  color: #ff656b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
  margin: 0.8rem 0;
}

.index .save text:nth-of-type(1) {
  font-size: 0.85rem;
  color: #ff656b;
}

.index .save text:nth-of-type(2) {
  font-size: 0.8rem;
  color: #ff656b;
  text-align: center;
  width: 2.7rem;
  height: 1.4rem;
  border-radius: 0.2rem;
  line-height: 1.4rem;
  border: 1px solid #ff656b;
  margin: 0.37rem 0;
}

.index .inputs {
  width: 100%;
  height: 2.3rem;
  line-height: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.index .inputs .searchs {
  position: absolute;
  left: 1.4rem;
  top: 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
}

.index .inputs input {
  width: 85%;
  height: 2.3rem;
  background-color: #f5f5f5;
  border-radius: 0.3rem;
  padding-left: 2.3rem;
}

.index .inputs ::-webkit-input-placeholder {
  color: grey;
}

.index .inputs :-ms-input-placeholder {
  color: grey;
}

.index .inputs ::-ms-input-placeholder {
  color: grey;
}

.index .inputs ::placeholder {
  color: grey;
}

.index .panel__content .tab-content .black {
  text-align: center;
}

.index .panel__content .tab-content .tab_text {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .panel__content .tab-content .tab_text .girls {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 20px 30px;
}

.index .panel__content .tab-content .tab_text .text_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  margin: 35px 0px;
  border-bottom: 1px solid #d8d8d8;
}

.index .panel__content .tab-content .tab_text .text_left .text_bottom {
  font-size: 0.3rem;
  color: #888;
  font-size: 0.8rem;
  padding: 9px 0 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.index .panel__content .tab-content .tab_text .text_left .text_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -18px;
}

.index .panel__content .tab-content .tab_text .text_left .text_top text:nth-of-type(1) {
  font-weight: 700;
  font-size: 1.1rem;
}

.index .panel__content .tab-content .tab_text .text_left .text_top text:nth-of-type(2) {
  width: 2.8rem;
  height: 1.1rem;
  line-height: 1.1rem;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  margin-left: -30px;
  border-radius: 9px 0px 9px 0px;
  background-image: -webkit-linear-gradient(top, #fcd88c, #f6ce4c);
}

.index .panel__content .tab-content .tab_text .text_left .text_top text:nth-of-type(3) {
  color: #666;
  font-size: 0.2rem;
}

.index .panel__content .tab-content2 .black {
  text-align: center;
}

.index .panel__content .tab-content2 .tab_text {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .panel__content .tab-content2 .tab_text .girls {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 20px 30px;
}

.index .panel__content .tab-content2 .tab_text .text_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: auto;
  margin: 35px 0px;
  border-bottom: 1px solid #d8d8d8;
}

.index .panel__content .tab-content2 .tab_text .text_left .text_bottom {
  font-size: 0.3rem;
  color: #888;
  font-size: 0.8rem;
  padding: 9px 0 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.index .panel__content .tab-content2 .tab_text .text_left .text_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .panel__content .tab-content2 .tab_text .text_left .text_top text:nth-of-type(1) {
  font-weight: 700;
  font-size: 1.1rem;
}

.index .panel__content .tab-content2 .tab_text .text_left .text_top text:nth-of-type(2) {
  color: #666;
  font-size: 0.2rem;
}

.at-tabs__item--active {
  color: #f65354 !important;
}

.at-tabs__item-underline {
  background-color: #f65354;
  left: 65px;
  bottom: 0;
  width: 50%;
  text-align: center;
  height: 1PX;
}
/*# sourceMappingURL=index.css.map */