.search_index {
  width: 100%;
  height: 100%;
}

.search_index .search {
  width: 90%;
  height: 2.2rem;
  background-color: #EEEEEE;
  margin: 0 auto;
  display: flex;
}

.search_index .search .selector {
  width: 20%;
  background-color: #EEEEEE;
  display: inline-block;
  text-align: center;
}

.search_index .search .selector .demo-list-item {
  display: inline-block;
}

.search_index .search .selector .demo-list-item .demo-list-item__label {
  line-height: 2.2rem;
  height: 100%;
  display: inline-block;
}

.search_index .search .selector .demo-list-item .demo-list-item__value {
  line-height: 2.2rem;
  height: 100%;
  display: inline-block;
}

.search_index .search .searchArea {
  width: 60%;
  height: 100%;
  display: inline-block;
  background-color: #EEEEEE;
}

.search_index .search .searchhCancel {
  width: 20%;
  height: 100%;
  border: none;
  text-align: center;
  line-height: 2.2rem;
  display: inline-block;
  background-color: #EEEEEE;
}

.search_index .container {
  width: 100%;
}

.search_index .container .phb {
  width: 90%;
  margin: 0 auto;
}

.search_index .container .phb .text {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.search_index .container .phb .p_nav {
  overflow-x: scroll;
  display: flex;
}

.search_index .container .phb .p_nav .p_item {
  width: 8.75rem;
  height: 6rem;
  flex-shrink: 0;
  margin: 0 0.3rem 1rem 0;
  border-radius: 0.2rem;
}

.search_index .container .phb .p_nav .p_item .p_title {
  width: 90%;
  margin: 0.3rem auto;
  color: #fff;
}

.search_index .container .phb .p_nav .p_item .p_text {
  width: 90%;
  margin: 0 auto;
  color: #fff;
  font-size: 0.8rem;
}

.search_index .container .sou {
  width: 90%;
  margin: 0 auto;
}

.search_index .container .sou .top {
  width: 100%;
  height: 1.65rem;
}

.search_index .container .sou .top .aaa {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.search_index .container .sou .top .aaa .a_img {
  padding: 0.1rem 0.2rem 0 0;
}

.search_index .container .sou .top .aaa .a_text {
  font-size: 1.2rem;
  font-weight: bold;
}

.search_index .container .sou .mid {
  width: 100%;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  line-height: 1.2rem;
}

.search_index .container .sou .mid .l {
  display: inline-block;
  color: gray;
  opacity: 0.5;
}

.search_index .container .sou .mid .c {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0 0.2rem;
}

.search_index .container .sou .mid .r {
  display: inline-block;
  color: gray;
  opacity: 0.5;
}

.search_index .container .sou .down {
  width: 100%;
}

.search_index .container .sou .down .d_item {
  width: 100%;
  height: 1.25rem;
  padding: 0.625rem 0;
  margin-top: 0.1rem;
  line-height: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.search_index .container .sou .down .d_item .d_left {
  display: inline-block;
  height: 100%;
  display: flex;
}

.search_index .container .sou .down .d_item .d_left .d_num {
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
  color: #fff;
}

.search_index .container .sou .down .d_item .d_left .d_title {
  padding: 0 0.2rem;
  font-size: 0.8rem;
}

.search_index .container .sou .down .d_item .d_right {
  display: inline-block;
  height: 100%;
  display: flex;
}

.search_index .container .sou .down .d_item .d_right .dd_l {
  display: flex;
  font-size: 0.8rem;
}

.search_index .container .sou .down .d_item .d_right .dd_r {
  color: gray;
  padding: 0 0.2rem;
}

.search_index .showResult {
  width: 90%;
  margin: 1rem auto;
}

.search_index .showResult .sousuo {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
  position: relative;
}

.search_index .showResult .sousuo .ms {
  display: inline-block;
  height: 100%;
  display: flex;
}

.search_index .showResult .sousuo .ms .m_type {
  width: 2.75rem;
  height: 1.5rem;
  margin: 0.25rem 0.2rem;
  text-align: center;
  line-height: 1.5rem;
  background: #E6FDF7;
  color: #43CCAC;
  font-size: 0.8rem;
}

.search_index .showResult .sousuo .ms .m_text {
  height: 100%;
  line-height: 2rem;
}

.search_index .showResult .sousuo .go {
  display: inline-block;
  height: 100%;
  margin: 0 0.5rem;
  font-size: 1.2rem;
  color: gray;
}

.search_index .showResult .sousuo::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 200%;
  height: 200%;
  border-bottom: 1px solid gray;
  transform-origin: 0 0;
  transform: scale(0.5);
}

.search_index .showResult .result {
  width: 100%;
  font-size: 0.9rem;
}

.search_index .showResult .result .newHouse {
  width: 100%;
  height: 4rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search_index .showResult .result .newHouse .n_type {
  width: 15%;
  height: 100%;
}

.search_index .showResult .result .newHouse .n_type .n_t_type {
  width: 2.75rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  background: #E6FDF7;
  color: #43CCAC;
  font-size: 0.8rem;
  margin: 1.5rem 0.2rem;
}

.search_index .showResult .result .newHouse .n_text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem;
}

.search_index .showResult .result .newHouse .n_text .n_title {
  margin: 0.5rem 0;
}

.search_index .showResult .result .newHouse .n_text .n_address {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: gray;
}

.search_index .showResult .result .newHouse .n_right_type1 {
  width: 35%;
  height: 100%;
  padding-top: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.search_index .showResult .result .newHouse .n_right_type2 {
  width: 35%;
  height: 100%;
  padding-top: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.search_index .showResult .result .xiaoqu {
  width: 100%;
  height: 4rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.search_index .showResult .result .xiaoqu .x_type {
  width: 15%;
  height: 100%;
}

.search_index .showResult .result .xiaoqu .x_type .x_t_type {
  width: 2.75rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  background: #FFF4EE;
  color: #EA6E31;
  font-size: 0.8rem;
  margin: 1.5rem 0.2rem;
}

.search_index .showResult .result .xiaoqu .x_text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.2rem;
}

.search_index .showResult .result .xiaoqu .x_text .x_title {
  margin: 0.5rem 0;
}

.search_index .showResult .result .xiaoqu .x_text .x_address {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: gray;
}

.search_index .showResult .result .xiaoqu .x_right_type1 {
  width: 35%;
  height: 100%;
  padding-top: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.search_index .showResult .result .xiaoqu .x_right_type2 {
  width: 35%;
  height: 100%;
  padding-top: 1.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.search_index .showResult .result .newHouse::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 200%;
  height: 200%;
  border-bottom: 1px solid gray;
  transform-origin: 0 0;
  transform: scale(0.5);
}

.search_index .showResult .result .xiaoqu::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 200%;
  height: 200%;
  border-bottom: 1px solid gray;
  transform-origin: 0 0;
  transform: scale(0.5);
}
