.search_index {
  width: 100%;
  height: 100%;

  .search {
    width: 90%;
    height: 2.2rem;
    background-color: #EEEEEE;
    margin: 0 auto;
    display: flex;

    .selector {
      width: 20%;
      background-color: #EEEEEE;
      display: inline-block;
      text-align: center;

      .demo-list-item {
        // text-align: center;
        display: inline-block;

        .demo-list-item__label {
          line-height: 2.2rem;
          height: 100%;
          display: inline-block;
        }

        .demo-list-item__value {
          line-height: 2.2rem;
          height: 100%;
          display: inline-block;
        }
      }
    }

    .searchArea {
      width: 60%;
      height: 100%;
      display: inline-block;
      background-color: #EEEEEE;
    }

    .searchhCancel {
      width: 20%;
      height: 100%;
      border: none;
      text-align: center;
      line-height: 2.2rem;
      display: inline-block;
      background-color: #EEEEEE;
    }
  }

  .container {
    width: 100%;

    .phb {
      width: 90%;
      margin: 0 auto;

      // background-color: yellowgreen;
      .text {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem 0;
      }

      .p_nav {
        overflow-x: scroll;
        display: flex;

        .p_item {
          width: 8.75rem;
          height: 6rem;
          flex-shrink: 0;
          margin: 0 0.3rem 1rem 0;
          border-radius: 0.2rem;

          .p_title {
            width: 90%;
            margin: 0.3rem auto;
            color: #fff;
          }

          .p_text {
            width: 90%;
            margin: 0 auto;
            color: #fff;
            font-size: 0.8rem;
          }
        }
      }
    }

    .sou {
      width: 90%;
      margin: 0 auto;

      .top {
        width: 100%;
        height: 1.65rem;

        // background-color: yellowgreen;
        .aaa {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;

          .a_img {
            padding: 0.1rem 0.2rem 0 0;
          }

          .a_text {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }

      .mid {
        width: 100%;
        height: 1.2rem;
        // background-color: violet;
        display: flex;
        justify-content: center;
        line-height: 1.2rem;

        .l {
          display: inline-block;
          color: gray;
          opacity: 0.5;
        }

        .c {
          display: inline-block;
          font-size: 0.8rem;
          padding: 0 0.2rem;
        }

        .r {
          display: inline-block;
          color: gray;
          opacity: 0.5;
        }
      }

      .down {
        width: 100%;

        .d_item {
          width: 100%;
          height: 1.25rem;
          padding: 0.625rem 0;
          // background-color: turquoise;
          margin-top: 0.1rem;
          line-height: 1.25rem;
          display: flex;
          justify-content: space-between;

          .d_left {
            display: inline-block;
            height: 100%;
            display: flex;

            .d_num {
              width: 1.25rem;
              height: 1.25rem;
              text-align: center;
              line-height: 1.25rem;
              color: #fff;
            }

            .d_title {
              padding: 0 0.2rem;
              font-size: 0.8rem;
            }
          }

          .d_right {
            display: inline-block;
            height: 100%;
            display: flex;

            .dd_l {
              display: flex;
              font-size: 0.8rem;

              .jj {}

              .price2 {}

              .price_unit {}
            }

            .dd_r {
              color: gray;
              padding: 0 0.2rem;
            }
          }
        }
      }
    }
  }

  .showResult {
    width: 90%;
    margin: 1rem auto;

    .sousuo {
      width: 100%;
      height: 2rem;
      display: flex;
      justify-content: space-between;
      line-height: 1.5rem;
      position: relative;

      .ms {
        display: inline-block;
        height: 100%;
        display: flex;

        .m_type {
          width: 2.75rem;
          height: 1.5rem;
          margin: 0.25rem 0.2rem;
          text-align: center;
          line-height: 1.5rem;
          background: #E6FDF7;
          color: #43CCAC;
          font-size: 0.8rem;
        }

        .m_text {
          height: 100%;
          line-height: 2rem;
        }
      }

      .go {
        display: inline-block;
        height: 100%;
        margin: 0 0.5rem;
        font-size: 1.2rem;
        color: gray;
      }
    }

    .sousuo::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 200%;
      height: 200%;
      border-bottom: 1px solid gray;
      transform-origin: 0 0;
      transform: scale(0.5);
    }

    .result {
      width: 100%;
      font-size: 0.9rem;
      .newHouse {
        width:100%;
        height:4rem;
        position: relative;
        display: flex;
        justify-content: space-between;

        .n_type {
          width: 15%;
          height: 100%;
          .n_t_type{
            width: 2.75rem;
            height: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
            background: #E6FDF7;
            color: #43CCAC;
            font-size: 0.8rem;
            margin:1.5rem 0.2rem;
          }
        }

        .n_text {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          margin-left: 0.2rem;
          .n_title {
            margin: 0.5rem 0;
          }

          .n_address {
            width: 100%;
            white-space: nowrap; // 强制文本在一行显示
            text-overflow: ellipsis;
            overflow: hidden; // 超出文本的部分不显示
            color: gray;
          }
        }


        .n_right_type1 {
          width: 35%;
          height: 100%;
          padding-top: 1.3rem;
          // padding-right: -0.5rem;
          white-space: nowrap;
          overflow: hidden;
          text-align: center;
        }

        .n_right_type2 {
          width: 35%;
          height: 100%;
          padding-top: 1.3rem;
          // padding-right: -0.5rem;
          white-space: nowrap;
          overflow: hidden;
          text-align: center;
        }
      }

      .xiaoqu {
        width:100%;
        height:4rem;
        position: relative;
        display: flex;
        justify-content: space-between;

        .x_type {
          width: 15%;
          height: 100%;
          .x_t_type{
            width: 2.75rem;
            height: 1.5rem;
            text-align: center;
            line-height: 1.5rem;
            background: #FFF4EE;
            color: #EA6E31;
            font-size: 0.8rem;
            margin:1.5rem 0.2rem;
          }
        }

        .x_text {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          margin-left: 0.2rem;
          .x_title {
            margin: 0.5rem 0;
          }

          .x_address {
            width: 100%;
            white-space: nowrap; // 强制文本在一行显示
            text-overflow: ellipsis;
            overflow: hidden; // 超出文本的部分不显示
            color: gray;
          }
        }


        .x_right_type1 {
          width: 35%;
          height: 100%;
          padding-top: 1.3rem;
          // padding-right: -0.5rem;
          white-space: nowrap;
          overflow: hidden;
          text-align: center;
        }

        .x_right_type2 {
          width: 35%;
          height: 100%;
          padding-top: 1.3rem;
          // padding-right: -0.5rem;
          white-space: nowrap;
          overflow: hidden;
          text-align: center;
        }
      }

      .newHouse::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 200%;
        height: 200%;
        border-bottom: 1px solid gray;
        transform-origin: 0 0;
        transform: scale(0.5);
      }

      .xiaoqu::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 200%;
        height: 200%;
        border-bottom: 1px solid gray;
        transform-origin: 0 0;
        transform: scale(0.5);
      }
    }
  }
}
