.home_container {
    width: 100%;
    height: 100vh;
    .home_header_container {
        width: 100%;
        height: 3rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .input_container {
            width: 50vh;
            height: 2rem;
            margin-left: 20px;
            margin-top: 0.5rem;
            display: flex;
            flex-direction: row;
            background-color: #F5F5F5;
            .search {
                display: block;
                width: 2rem;
                height: 2rem;
            }
            .searchtext {
                font-size: 0.8rem;
                line-height: 2rem;
            }
        }
        .input_map {
            width: 4rem;
            height: 2rem;
            display: flex;
            margin-top: 0.5rem;
            margin-left: 0.5rem;
            .map {
                display: block;
                width: 2rem;
                height: 2rem;
            }
            .maptext {
                font-size: 0.8rem;
                line-height: 2rem;
            }
        }
    }
    .home_link_container {
        .swiper {
            width: 100%;
            height: 15rem;
            swiper-item {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                .slid_item1 {
                    width: 13vh;
                    height: 15vh;
                    margin-top: -10px;
                    .ico {
                        display: block;
                        width: 3.5rem;
                        height: 3.5rem;
                        padding-top: 20px;
                        margin: 0 auto;
                    }
                    .title {
                        display: block;
                        width: 100%;
                        padding-top: 10px;
                        text-align: center;
                    }
                }
                .slid_item2 {
                    width: 13vh;
                    height: 15vh;
                    margin-top: -10px;
                    .ico {
                        display: block;
                        width: 3.5rem;
                        height: 3.5rem;
                        padding-top: 20px;
                        margin: 0 auto;
                    }
                    .title {
                        display: block;
                        width: 100%;
                        padding-top: 10px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.list_container {
    width: 100%;
    height: 13.25rem;
    // background-color: yellowgreen;
    position: relative;
    .benyuefangjia {
        width: 100%;
        height: 100%;
        .top {
            width: 100%;
            height: 2.2rem;
            // background-color: yellow;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .title {
                display: block;
                font-size: 1.5rem;
                font-weight: 1000;
                margin-left: 0.5rem;
            }
            .zaobao {
                width: 8rem;
                height: 2rem;
                background-image: linear-gradient(to right, #FF5D01, #FF9C02);
                display: block;
                // margin-top: 0.5em;
                border-radius: 1rem;
                margin-right: 0.8rem;
                color: #fff;
                .cal {
                    margin-left: 1.5rem;
                }
            }
        }
        .box {
            width: 22.6rem;
            height: 10rem;
            // background-color: yellow;
            margin: auto;
            position: absolute;
            top: 2.7rem;
            left: 0;
            right: 0;
            // background-color: pink;
            // display: flex;
            // flex-wrap: wrap;
            .topleft {
                width: 50%;
                height: 5rem;
                // background-color: skyblue;
                float: left;
                .price {
                    display: block;
                    text-align: center;
                    margin-top: 1rem;
                    .num {
                        font-weight: 1000;
                        font-size: 1.5rem;
                    }
                }
                .text {
                    display: block;
                    font-size: 22px;
                    color: gray;
                    text-align: center;
                }
            }
            .topright {
                width: 50%;
                height: 5rem;
                // background-color: skyblue;
                float: left;
                .price {
                    display: block;
                    text-align: center;
                    margin-top: 1rem;
                    .num {
                        font-weight: 1000;
                        font-size: 1.5rem;
                    }
                }
                .text {
                    display: block;
                    font-size: 22px;
                    color: gray;
                    text-align: center;
                    .gre {
                        color: #00CAA7;
                    }
                }
            }
            .gundong {
                height: 5rem;
                margin-top: 2.2rem;
                margin-left: 0.5rem;
                // background-color: red;
                .swi {
                    height: 5rem;
                    // background-color: yellowgreen;
                    .swiItem {
                        width: 100%;
                        // height: 2.5rem;
                        // background-color: purple;
                        .itemChild {
                            display: block;
                            // background-color: pink;
                            display: flex;
                            flex-wrap: nowrap;
                            .img {
                                display: block;
                                width: 2.5rem;
                                height: 1.5rem;
                                text-align: center;
                                line-height: 1.5rem;
                                color: #fff;
                            }
                            .img3 {
                                display: block;
                                width: 2.5rem;
                                height: 1.5rem;
                                text-align: center;
                                line-height: 1.5rem;
                                color: #fff;
                                background: #FA6C70;
                                margin-top: 0.2rem;
                            }
                            .img2 {
                                display: block;
                                width: 2.5rem;
                                height: 1.5rem;
                                text-align: center;
                                line-height: 1.5rem;
                                color: #fff;
                                background: #54C8F7;
                                margin-top: 0.2rem;
                            }
                            .img1 {
                                display: block;
                                width: 2.5rem;
                                height: 1.5rem;
                                text-align: center;
                                line-height: 1.5rem;
                                color: #fff;
                                background-image: linear-gradient(to right, #FF766A, #FDA85F);
                                margin-top: 0.2rem;
                            }
                            .text {
                                display: block;
                                // width: 15rem;
                                height: 2rem;
                                line-height: 2rem;
                                text-overflow: ellipsis;
                                margin-left: 0.2rem;
                                // background-color: purple;
                            }
                        }
                    }
                }
            }
        }
        .box:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            border: 1px solid gray;
            border-radius: 26px;
            width: 200%;
            height: 200%;
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
            -webkit-transform-origin: left top;
            transform-origin: left top;
        }
    }
}

.hotBuild {
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
    // background-color: yellowgreen;
    .hotBuildTitle {
        display: flex;
        justify-content: space-between;
        // background-color: yellow;
        .title {
            display: block;
            font-size: 1.5rem;
            font-weight: 1000;
        }
        .more {
            display: block;
            line-height: 2rem;
        }
    }
    .hotBuildList {
        width: 100%;
        height: 100%;
        .item {
            width: 100%;
            height: 8.5rem;
            // background-color: skyblue;
            border-bottom: 0.5px solid gray;
            margin-top: 0.5rem;
            padding-bottom: 0.5rem;
            display: flex;
            .leftside {
                position: relative;
                .img {
                    display: block;
                    margin-top: 1.5rem;
                    border-radius: 0.2rem;
                }
                .area {
                    position: absolute;
                    left: 0;
                    bottom: 1.2rem;
                    color: #fff;
                    font-size: 0.8rem;
                }
            }
            .rightside {
                margin-left: 0.5rem;
                margin-top: 1.5rem;
                .head {
                    display: flex;
                    width: 14rem;
                    // background-color: yellow;
                    justify-content: space-between;
                    .title {
                        display: block;
                        font-size: 1.2rem;
                        // float: left;
                        // z-index: 10;
                        // color: red;
                    }
                    .status {
                        // float: right;
                        display: block;
                        width: 2.5rem;
                        height: 1.5rem;
                        background-color: #FF6600;
                        color: #fff;
                        text-align: center;
                        line-height: 1.5rem;
                        font-size: 0.9rem;
                    }
                }
                .price {
                    // background-color: yellowgreen;
                    color: #FF6600;
                    // font-weight: 1000;
                    // font-size: 1.2rem;
                    .num {
                        // background-color: yellowgreen;
                        color: #FF6600;
                        font-weight: 1000;
                        font-size: 1.2rem;
                        padding-right: 0.2rem;
                    }
                }
                .build_type {
                    // background-color: yellow;
                    display: block;
                    display: flex;
                    margin: 0.2rem 0;
                    .build_type_item {
                        border: 1px solid gray;
                        font-size: 0.8rem;
                        margin-left: 0.2rem;
                        color: gray;
                    }
                }
                .discount {
                    // border: 1px solid #FF766A;
                    // background-color: #FF766A;
                    display: flex;
                    .hui {
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        background-color: #FF766A;
                        color: #fff;
                        font-size: 0.8rem;
                        border: 1px solid #FF766A;
                    }
                    .discount_text {
                        display: block;
                        border: 1px solid #FF766A;
                        background-color: #fff;
                        color: #FF766A;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}
