.home_container {
  width: 100%;
  height: 100vh;
}

.home_container .home_header_container {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.home_container .home_header_container .input_container {
  width: 50vh;
  height: 2rem;
  margin-left: 20px;
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #F5F5F5;
}

.home_container .home_header_container .input_container .search {
  display: block;
  width: 2rem;
  height: 2rem;
}

.home_container .home_header_container .input_container .searchtext {
  font-size: 0.8rem;
  line-height: 2rem;
}

.home_container .home_header_container .input_map {
  width: 4rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.home_container .home_header_container .input_map .map {
  display: block;
  width: 2rem;
  height: 2rem;
}

.home_container .home_header_container .input_map .maptext {
  font-size: 0.8rem;
  line-height: 2rem;
}

.home_container .home_link_container .swiper {
  width: 100%;
  height: 15rem;
}

.home_container .home_link_container .swiper swiper-item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home_container .home_link_container .swiper swiper-item .slid_item1 {
  width: 13vh;
  height: 15vh;
  margin-top: -10px;
}

.home_container .home_link_container .swiper swiper-item .slid_item1 .ico {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  padding-top: 20px;
  margin: 0 auto;
}

.home_container .home_link_container .swiper swiper-item .slid_item1 .title {
  display: block;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.home_container .home_link_container .swiper swiper-item .slid_item2 {
  width: 13vh;
  height: 15vh;
  margin-top: -10px;
}

.home_container .home_link_container .swiper swiper-item .slid_item2 .ico {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  padding-top: 20px;
  margin: 0 auto;
}

.home_container .home_link_container .swiper swiper-item .slid_item2 .title {
  display: block;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.list_container {
  width: 100%;
  height: 13.25rem;
  position: relative;
}

.list_container .benyuefangjia {
  width: 100%;
  height: 100%;
}

.list_container .benyuefangjia .top {
  width: 100%;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list_container .benyuefangjia .top .title {
  display: block;
  font-size: 1.5rem;
  font-weight: 1000;
  margin-left: 0.5rem;
}

.list_container .benyuefangjia .top .zaobao {
  width: 8rem;
  height: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF5D01), to(#FF9C02));
  background-image: linear-gradient(to right, #FF5D01, #FF9C02);
  display: block;
  border-radius: 1rem;
  margin-right: 0.8rem;
  color: #fff;
}

.list_container .benyuefangjia .top .zaobao .cal {
  margin-left: 1.5rem;
}

.list_container .benyuefangjia .box {
  width: 22.6rem;
  height: 10rem;
  margin: auto;
  position: absolute;
  top: 2.7rem;
  left: 0;
  right: 0;
}

.list_container .benyuefangjia .box .topleft {
  width: 50%;
  height: 5rem;
  float: left;
}

.list_container .benyuefangjia .box .topleft .price {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.list_container .benyuefangjia .box .topleft .price .num {
  font-weight: 1000;
  font-size: 1.5rem;
}

.list_container .benyuefangjia .box .topleft .text {
  display: block;
  font-size: 22px;
  color: gray;
  text-align: center;
}

.list_container .benyuefangjia .box .topright {
  width: 50%;
  height: 5rem;
  float: left;
}

.list_container .benyuefangjia .box .topright .price {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.list_container .benyuefangjia .box .topright .price .num {
  font-weight: 1000;
  font-size: 1.5rem;
}

.list_container .benyuefangjia .box .topright .text {
  display: block;
  font-size: 22px;
  color: gray;
  text-align: center;
}

.list_container .benyuefangjia .box .topright .text .gre {
  color: #00CAA7;
}

.list_container .benyuefangjia .box .gundong {
  height: 5rem;
  margin-top: 2.2rem;
  margin-left: 0.5rem;
}

.list_container .benyuefangjia .box .gundong .swi {
  height: 5rem;
}

.list_container .benyuefangjia .box .gundong .swi .swiItem {
  width: 100%;
}

.list_container .benyuefangjia .box .gundong .swi .swiItem .itemChild {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.list_container .benyuefangjia .box .gundong .swi .swiItem .itemChild .img {
  display: block;
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
}

.list_container .benyuefangjia .box .gundong .swi .swiItem .itemChild .img3 {
  display: block;
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  background: #FA6C70;
  margin-top: 0.2rem;
}

.list_container .benyuefangjia .box .gundong .swi .swiItem .itemChild .img2 {
  display: block;
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  background: #54C8F7;
  margin-top: 0.2rem;
}

.list_container .benyuefangjia .box .gundong .swi .swiItem .itemChild .img1 {
  display: block;
  width: 2.5rem;
  height: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF766A), to(#FDA85F));
  background-image: linear-gradient(to right, #FF766A, #FDA85F);
  margin-top: 0.2rem;
}

.list_container .benyuefangjia .box .gundong .swi .swiItem .itemChild .text {
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-overflow: ellipsis;
  margin-left: 0.2rem;
}

.list_container .benyuefangjia .box:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid gray;
  border-radius: 26px;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.hotBuild {
  width: 95%;
  margin: 0 auto;
  margin-top: 1rem;
}

.hotBuild .hotBuildTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotBuild .hotBuildTitle .title {
  display: block;
  font-size: 1.5rem;
  font-weight: 1000;
}

.hotBuild .hotBuildTitle .more {
  display: block;
  line-height: 2rem;
}

.hotBuild .hotBuildList {
  width: 100%;
  height: 100%;
}

.hotBuild .hotBuildList .item {
  width: 100%;
  height: 8.5rem;
  border-bottom: 0.5px solid gray;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotBuild .hotBuildList .item .leftside {
  position: relative;
}

.hotBuild .hotBuildList .item .leftside .img {
  display: block;
  margin-top: 1.5rem;
  border-radius: 0.2rem;
}

.hotBuild .hotBuildList .item .leftside .area {
  position: absolute;
  left: 0;
  bottom: 1.2rem;
  color: #fff;
  font-size: 0.8rem;
}

.hotBuild .hotBuildList .item .rightside {
  margin-left: 0.5rem;
  margin-top: 1.5rem;
}

.hotBuild .hotBuildList .item .rightside .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotBuild .hotBuildList .item .rightside .head .title {
  display: block;
  font-size: 1.2rem;
}

.hotBuild .hotBuildList .item .rightside .head .status {
  display: block;
  width: 2.5rem;
  height: 1.5rem;
  background-color: #FF6600;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.hotBuild .hotBuildList .item .rightside .price {
  color: #FF6600;
}

.hotBuild .hotBuildList .item .rightside .price .num {
  color: #FF6600;
  font-weight: 1000;
  font-size: 1.2rem;
  padding-right: 0.2rem;
}

.hotBuild .hotBuildList .item .rightside .build_type {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.2rem 0;
}

.hotBuild .hotBuildList .item .rightside .build_type .build_type_item {
  border: 1px solid gray;
  font-size: 0.8rem;
  margin-left: 0.2rem;
  color: gray;
}

.hotBuild .hotBuildList .item .rightside .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotBuild .hotBuildList .item .rightside .discount .hui {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #FF766A;
  color: #fff;
  font-size: 0.8rem;
  border: 1px solid #FF766A;
}

.hotBuild .hotBuildList .item .rightside .discount .discount_text {
  display: block;
  border: 1px solid #FF766A;
  background-color: #fff;
  color: #FF766A;
  font-size: 0.8rem;
}
/*# sourceMappingURL=index.css.map */